{% extends 'home/home.html.twig' %}

{% block event %}
<div class="max-w-[1065px] mx-auto">

    <!-- cover  -->
    <div class="bg-white shadow lg:rounded-b-2xl lg:-mt-10 dark:bg-dark2">

        <!-- cover -->
        <div class="relative overflow-hidden lg:h-72 h-36 w-full">
            <img src="{{ event.cover }}" alt="" class="h-full w-full object-cover inset-0">

            <!-- overly -->
            <div class="w-full bottom-0 absolute left-0 bg-gradient-to-t from -black/60 pt-10 z-10"></div>


        </div>

        <div class="lg:px-10 md:p-5 p-3">

            <div class="flex flex-col justify-center md:-mt-20 -mt-12">

                <div class="md:w-20 md:h-20 w-12 h-12 overflow-hidden bg-white shadow-md rounded-md z-10 mb-5">
                    <div class="w-full md:h-5 bg-orange-600 h-3"></div>
                    <div class="grid place-items-center text-black font-semibold md:text-3xl text-lg h-full md:pb-5 pb-3">
                        {{ event.startedAt|date('d') }}
                    </div>
                </div>

                <div class="flex lg:items-center justify-between max-lg:flex-col max-lg:gap-2">

                    <div class="flex-1">
                        <p class="text-sm font-semibold text-orange-600 mb-1.5">{{ event.startedAt | date('j M') }} at {{ event.startedAt | date('H:i') }} – {{ event.finishAt | date('j M') }} at {{ event.finishAt | date('H:i') }} </p>
                        <h3 class="md:text-2xl text-base font-bold text-black dark:text-white"> {{ event.nom }} </h3>
                        <p class="text-sm font-semibold mb-1.5">{{ event.lieu }}</p>
                        {% if weather.forecastday is defined and weather.forecastday|length > 0 %}
                            {% for forecast in weather.forecastday %}
                                {% for hours in forecast.hour %}
                                    {% if hours.time == event.startedAt|date('Y-m-d H:00') %}
                                        <p class="text-sm font-semibold mb-1.5" style="display: inline-block;">{{ hours.temp_c }}°C</p>
                                        <img src="{{ hours.condition.icon }}" style="display: inline-block; width: 30px; height: 30px;">
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <p>No weather data available.</p>
                        {% endif %}
                        <p  class="font-normal text-gray-500 mt-2 flex gap-2 dark:text-white/80">
                            <span> {{ event.acces }} </span>
                            <span> • </span>
                            <span> {{ event.type }} </span>
                        </p>
                    </div>

                    <div>
                        <div  uk-countdown="date: {{ event.startedAt|date('Y-m-d H:i') }}"
                              class="flex gap-3 text-2xl font-semibold text-primary dark:text-white max-lg:justify-center">

                            <div class="bg-primary-soft/40 flex flex-col items-center justify-center rounded-lg w-16 h-16 lg:border-4 border-white md:shadow dark:border-slate-700">
                                <span class="uk-countdown-days"></span>
                                <span class="inline-block text-xs">Days</span>
                            </div>
                            <div class="bg-primary-soft/40 flex flex-col items-center justify-center rounded-lg w-16 h-16 lg:border-4 border-white md:shadow dark:border-slate-700">
                                <div class="uk-countdown-hours"></div>
                                <span class="inline-block text-xs">Hours</span>
                            </div>
                            <div class="bg-primary-soft/40 flex flex-col items-center justify-center rounded-lg w-16 h-16 lg:border-4 border-white md:shadow dark:border-slate-700">
                                <div class="uk-countdown-minutes"></div>
                                <span class="inline-block text-xs">min </span>
                            </div>
                            <div class="bg-primary-soft/40 flex flex-col items-center justify-center rounded-lg w-16 h-16 lg:border-4 border-white md:shadow dark:border-slate-700">
                                <div class="uk-countdown-seconds"></div>
                                <span class="inline-block text-xs">sec </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="flex items-center justify-between px-2 max-md:flex-col">

            <div class="flex items-center gap-2 text-sm py-2 pr-1 lg:order-1">
                {% if event.id in userInterestedIds %}
                    <a href="{{ path('interested.event',{id:event.id}) }}">
                        <button type="button" class="button bg-primary flex items-center gap-2 py-2 px-3.5">
                            <ion-icon name="star" class="text-xl"></ion-icon>
                            <span class="text-sm"> Interested </span>
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('interested.event',{id:event.id}) }}">
                        <button type="button" class="button bg-secondery flex items-center gap-2 py-2 px-3.5 dark:bg-dark3">
                            <ion-icon name="star-outline" class="text-xl"></ion-icon>
                            <span class="text-sm"> Interested </span>
                        </button>
                   </a>
                {% endif %}
                {% if event.id in userParticipationId %}
                    <a href="{{ path('join.event',{id:event.id}) }}">
                        <button type="button" class="button bg-primary flex items-center gap-2 py-2 px-3.5 ">
                            <ion-icon name="checkmark-circle" class="text-xl"></ion-icon>
                            <span class="text-sm"> Going </span>
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('join.event',{id:event.id}) }}">
                        <button type="button" class="button bg-secondery flex items-center gap-2 py-2 px-3.5 dark:bg-dark3">
                            <ion-icon name="checkmark-circle-outline" class="text-xl"></ion-icon>
                            <span class="text-sm"> Going </span>
                        </button>
                    </a>
                {% endif %}
                <button type="button" class="rounded-lg bg-secondery flex px-2.5 py-2 dark:bg-dark3">
                    <a href="#" onclick="copyCurrentLink(event)">
                        <ion-icon name="arrow-redo-outline" class="text-xl"></ion-icon>
                    </a>
                    <script>
                        function copyCurrentLink(event) {
                            event.preventDefault();
                            const currentURL = window.location.href;
                            navigator.clipboard.writeText(currentURL).then(() => {
                                alert("Link copied to clipboard!");
                            }).catch(err => {
                                console.error("Failed to copy link: ", err);
                            });
                        }
                    </script>
                </button>

                <div>
                    <div  class="w-[240px]" uk-dropdown="pos: bottom-right; animation: uk-animation-scale-up uk-transform-origin-top-right; animate-out: true; mode: click;offset:10">
                        <nav>
                            <a href="#" onclick="copyCurrentLink(event)">
                                <ion-icon class="text-xl" name="share-outline"></ion-icon> Share event
                            </a>
                            <script>
                                function copyCurrentLink(event) {
                                    event.preventDefault();
                                    const currentURL = window.location.href;
                                    navigator.clipboard.writeText(currentURL).then(() => {
                                        alert("Link copied to clipboard!");
                                    }).catch(err => {
                                        console.error("Failed to copy link: ", err);
                                    });
                                }
                            </script>
                            <a href="#"> <ion-icon class="text-xl" name="information-circle-outline"></ion-icon>  Report Event</a>
                            {% if event.idCommunity.id in ownCommIds or event.idCommunity.id in moderatedCommIds %}
                                <hr>
                                <a href="{{ path('event.front.del2',{id: event.id }) }}" class="text-red-400 hover:!bg-red-50 dark:hover:!bg-red-500/50"> <ion-icon class="text-xl" name="trash"></ion-icon> Delete Event </a>
                            {% endif %}
                        </nav>
                    </div>
                </div>

            </div>

            <nav class="flex gap-0.5 rounded-xl overflow-hidden -mb-px text-gray-500 font-medium text-sm overflow-x-auto dark:text-white/80">
                <a href="#" class="inline-block py-3 leading-8 px-3.5 border-b-2 border-blue-600 text-blue-600">About </a>
            </nav>

        </div>


    </div>

    <div class="flex 2xl:gap-12 gap-10 mt-8 max-lg:flex-col" id="js-oversized">

        <div class="flex-1 space-y-4 ">

            <div class="box p-5 px-6 relative">

                <h3 class="font-semibold text-lg text-black dark:text-white"> About </h3>

                <div class="space-y-4 leading-7 tracking-wide mt-4 text-black text-sm dark:text-white">
                    <p> {{ event.description }}</p>
                </div>

            </div>
        </div>


        <div class="lg:w-[400px]">

            <div class="lg:space-y-4 lg:pb-8 max-lg:grid sm:grid-cols-2 max-lg:gap-6"
                 uk-sticky="media: 1024; end: #js-oversized; offset: 80">

                <div class="box p-5 px-6 pr-0">

                    <h3 class="font-semibold text-lg text-black dark:text-white"> Status </h3>
                    {% set numParticipants = 0 %}
                    {% set numInterested = 0 %}
                    {% for participation in allpartcipate %}
                        {% if participation.event.id == event.id %}
                            {% if participation.type == 'Participate' %}
                                {% set numParticipants = numParticipants + 1 %}
                            {% elseif participation.type == 'Interested' %}
                                {% set numInterested = numInterested + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="grid grid-cols-2 gap-2 text-sm mt-4">
                        <div class="flex gap-3">
                            <div class="p-2 inline-flex rounded-full bg-orange-50 self-center"> <ion-icon name="heart" class="text-2xl text-orange-600"></ion-icon></div>
                            <div>
                                <h3 class="sm:text-xl sm:font-semibold mt-1 text-black dark:text-white text-base font-normal">
                                    {{ numInterested }}</h3>
                                <p>Intersted</p>
                            </div>
                        </div>
                        <div class="flex gap-3">
                            <div class="p-2 inline-flex rounded-full bg-orange-50 self-center"><ion-icon name="checkmark-circle" class="text-2xl text-orange-600"></ion-icon></div>
                            <div>
                                <h3 class="sm:text-xl sm:font-semibold mt-1 text-black dark:text-white text-base font-normal">
                                    {{ numParticipants }}</h3>
                                <p>Going</p>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="box p-5 px-6">

                    <div class="flex items-baseline justify-between text-black dark:text-white">
                        <h3 class="font-bold text-base"> Invite friends </h3>
                    </div>

                    <div class="side-list">

                        <div class="side-list-item">
                            <a href="timeline.html">
                                <img src="/assets/images/avatars/avatar-3.jpg" alt="" class="side-list-image rounded-full">
                            </a>
                            <div class="flex-1">
                                <a href="timeline.html"><h4 class="side-list-title">  Monroe Parker </h4></a>
                                <div class="side-list-info"> Turkey</div>
                            </div>
                            <button class="button border2">Invite</button>
                        </div>

                        <div class="side-list-item">
                            <a href="timeline.html">
                                <img src="/assets/images/avatars/avatar-4.jpg" alt="" class="side-list-image rounded-full">
                            </a>
                            <div class="flex-1">
                                <a href="timeline.html"><h4 class="side-list-title">  Martin Gray </h4></a>
                                <div class="side-list-info"> Dubai</div>
                            </div>
                            <button class="button border2">Invite</button>
                        </div>

                        <div class="side-list-item">
                            <a href="timeline.html">
                                <img src="/assets/images/avatars/avatar-5.jpg" alt="" class="side-list-image rounded-full">
                            </a>
                            <div class="flex-1">
                                <a href="timeline.html"><h4 class="side-list-title">  James Lewis </h4></a>
                                <div class="side-list-info"> London</div>
                            </div>
                            <button class="button border2">Invite</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}