{% extends "admin.html.twig" %}
{% block  body %}
    <!-- ------------------------------------------------------------------------------------ -->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">Dashboard</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-stats card-warning">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-users"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Visitors</p>
                                            <h4 class="card-title">{{ nbr }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-stats card-success">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-bar-chart"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Sales</p>
                                            <h4 class="card-title">0 DT</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-stats card-danger">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-newspaper-o"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Subscribers</p>
                                            <h4 class="card-title">0</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-stats card-primary">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-check-circle"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Order</p>
                                            <h4 class="card-title">0</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Task</h4>
                                <p class="card-category">Complete</p>
                            </div>
                            <div class="card-body">
                                <div id="task-complete" class="chart-circle mt-4 mb-3"></div>
                            </div>
                            <div class="card-footer">
                                <div class="legend"><i class="la la-circle text-primary"></i> Completed</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-tasks">
                            <div class="card-header ">
                                <h4 class="card-title">Tasks</h4>
                                <p class="card-category">Wait List Community</p>
                            </div>
                            <div class="card-body ">
                                <div class="table-full-width">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Nom Community</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for comm in communities %}
                                            <tr>
                                                <td>
                                                    {% for own in owners %}
                                                        {% if own.community_id == comm.id %}
                                                            {{ own.username }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ comm.nom }}</td>
                                                <td class="td-actions text-right">
                                                    <div class="form-button-action">
                                                        <a href="{{ path('app_admin.accept',{id: comm.id}) }}">
                                                            <button type="button" data-toggle="tooltip" title="Valide" class="btn btn-link btn-simple-success">
                                                                <i class="las la-check-circle"></i>
                                                            </button>
                                                        </a>
                                                        <button type="button" data-toggle="tooltip" title="View" class="btn btn-link btn-simple-primary">
                                                            <a href="{{ path('app_admin.waitlist',{id:comm.id}) }}">
                                                                <i class="las la-eye"></i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <div class="stats">
                                    <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  body %}
