{% extends "categories_interest/adminCat.html.twig" %}


{% block titleCat %}Categories {% endblock %}
    {% block nbrcat %}
        {% if categories|length > 1 %}
            ( {{ limit }} )
        {% else %}
            ( 1 )
        {% endif %}
    {% endblock %}

{% block  cat %}
    <div class="relative overflow-x-auto">
        <table class="table table-head-bg-primary mt-4">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Cover</th>
                <th scope="col" class="col-4" >Description</th>
                <th scope="col" class="col-2">Date de creation</th>
                <th scope="col" >Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cat in categories %}
                <tr>
                    <td>{{ cat.id }}</td>
                    <td>{{ cat.nom }}</td>
                    <td><img class="img-thumbnail" src="{{ cat.cover }}"></td>
                    <td>Description</td>
                    <td class="">{{ cat.dateCreation |date('d-m-Y')}}</td>
                    <td>
                        <turbo-frame id="categorie_{{ cat.id }}">
                            <a href="{{ path('categories.edit' , {id: cat.id } ) }}">
                            <button type="button" data-toggle="tooltip" title="Edit Task" class="btn btn-link <btn-simple-primary">
                                <i class="la la-edit"></i>
                            </button>
                            </a>
                        </turbo-frame>
                        <a href="{{ path('categories.del' , {id: cat.id } ) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet categorie ?');">
                        <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger">
                            <i class="la la-times"></i>
                        </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock cat %}
{% block pagination %}
    {% if maxPage > 1 %}
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('categories.index', { page: page - 1 }) }}" tabindex="-1">Previous</a>
                </li>
            {% endif %}

            {% for p in 1..maxPage %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link" href="{{ path('categories.index', { page: p }) }}">{{ p }}</a>
                </li>
            {% endfor %}

            {% if page < maxPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('categories.index', { page: page + 1 }) }}">Next</a>
                </li>
            {% endif %}
            <p class="card-category">&nbsp( {{ categories|length}} ) </p>
        </ul>
    {% endif %}
{% endblock pagination %}

{% block addcat %}
    {{ form(form) }}
{% endblock %}

