{% extends 'community/adminCom.html.twig' %}

{% block titleComm %}Communities {% endblock %}
    {% block nbrcomm %}
        {% if communities|length > 1 %}
            ( {{ limit }} )
        {% else %}
            ( 1 )
        {% endif %}
    {% endblock %}
{% block  comm %}
    <div class="relative overflow-x-auto">
        <table class="table table-head-bg-primary mt-4">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Id Cat</th>
                <th scope="col">Nom Cat</th>
                <th scope="col">Nom</th>
                <th scope="col">Cover</th>
                <th scope="col" class="col-2" >Description</th>
                <th scope="col" class="col-2">Date de creation</th>
                <th scope="col" class="col-2">Statut</th>
                <th scope="col" >Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comm in communities %}
                <tr>
                    <td>{{ comm.id }}</td>
                    <td>{{ comm.idCategorie.id }}</td>
                    <td>{{ comm.idCategorie.nom }}</td>
                    <td>{{ comm.nom }}</td>
                    <td><img class="img-thumbnail" src="{{ comm.cover }}"></td>
                    <td>Description</td>
                    <td class="">{{ comm.createdAt | date('d-m-Y') }}</td>
                    {% if comm.statut == 1 %}
                        <td><span class="badge badge-success">Active</span></td>
                    {% else %}
                        <td><span class="badge badge-warning">En attente</span></td>
                    {% endif %}
                    <td>
                        <a href="{{ path('community.edit', {id: comm.id }) }}">
                            <button type="button" data-toggle="tooltip" title="Edit Task" class="btn btn-link <btn-simple-primary">
                                <i class="la la-edit"></i>
                            </button>
                        </a>
                        <a href="{{ path('community.del', {id: comm.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet communaute ?');">
                            <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger">
                                <i class="la la-times"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock comm %}

{% block pagination %}
    {% if maxPage > 1 %}
    <ul class="pagination justify-content-center">
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path('community.index', { page: page - 1 }) }}" tabindex="-1">Previous</a>
            </li>
        {% endif %}

        {% for p in 1..maxPage %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link" href="{{ path('community.index', { page: p }) }}">{{ p }}</a>
            </li>
        {% endfor %}

        {% if page < maxPage %}
            <li class="page-item">
                <a class="page-link" href="{{ path('community.index', { page: page + 1 }) }}">Next</a>
            </li>
        {% endif %}
        <p class="card-category">&nbsp( {{ communities|length}} ) </p>
    </ul>
    {% endif %}
{% endblock pagination %}

{% block addcomm %}
    {{ form(form) }}
{% endblock %}

