{% extends 'chat_rooms/adminChat.html.twig' %}

{% block titleChat %}Chat Rooms {% endblock %}

    {% block nbrchatrooms %}
        {% if chatrooms|length > 1 %}
            ( {{ limit }} )
        {% else %}
            ( 1 )
        {% endif %}
    {% endblock %}

{% block  chatrooms %}
    <div class="relative overflow-x-auto">
        <table class="table table-head-bg-primary mt-4">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Id Comm</th>
                <th scope="col">Nom Comm</th>
                <th scope="col">Nom</th>
                <th scope="col">Cover</th>
                <th scope="col" >Type</th>
                <th scope="col" class="col-2">Created at</th>
                <th scope="col" >Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for chat in chatrooms %}
                <tr>
                    <td>{{ chat.id }}</td>
                    <td>{{ chat.Community.id }}</td>
                    <td>{{ chat.Community.nom }}</td>
                    <td>{{ chat.nom }}</td>
                    <td><img class="img-thumbnail" src="{{ chat.cover }}"></td>
                    <td class="">{{ chat.type }}</td>
                    <td class="">{{ chat.createdAt | date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('chatroom.edit', {id: chat.id }) }}">
                            <button type="button" data-toggle="tooltip" title="Edit Task" class="btn btn-link <btn-simple-primary">
                                <i class="la la-edit"></i>
                            </button>
                        </a>
                        <a href="{{ path('chatroom.del', {id: chat.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet chat room ?');">
                            <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger">
                                <i class="la la-times"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock chatrooms %}

{% block pagination %}
    {% if maxPage > 1 %}
    <ul class="pagination justify-content-center">
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path('chatrooms.index', { page: page - 1 }) }}" tabindex="-1">Previous</a>
            </li>
        {% endif %}

        {% for p in 1..maxPage %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link" href="{{ path('chatrooms.index', { page: p }) }}">{{ p }}</a>
            </li>
        {% endfor %}

        {% if page < maxPage %}
            <li class="page-item">
                <a class="page-link" href="{{ path('chatrooms.index', { page: page + 1 }) }}">Next</a>
            </li>
        {% endif %}
        <p class="card-category">&nbsp( {{ chatrooms|length}} ) </p>
    </ul>
    {% endif %}
{% endblock pagination %}

{% block addchatrooms %}
    {{ form(form) }}
{% endblock %}

