{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle ville</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('ville_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}