<p>
    Request for creating a Community has been sent
</p>

<ul>
    <li><strong>Email :</strong> {{ user.email }}</li>
    <li><strong>Nom :</strong> {{ user.username }}</li>
    <li><strong>Nom Community :</strong> {{ data.nom }}</li>
    <li><strong>Description :</strong> {{ data.description }}</li>
    <li><strong>Cover :</strong> <img src="{{ data.cover }}"></li>
</ul>