{% extends "base.html.twig" %}

{% block title %}{{ user.username }}{% endblock title %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <ul>
        <li>Email: {{ user.email }}</li>
        <li>Name: {{ user.name }} {{ user.firstname }}</li>
        <li>Gender: {{ user.gender }}</li>
        <li>Date of Birth: {{ user.dateOB|date('d-m-Y') }}</li>
    </ul>
{% endblock body %}