{% extends "user/adminuser.html.twig" %}

{% block titleUser %}Users{% endblock %}
{% block nbruser %}( {{ users|length }} ){% endblock %}

{% block user %}
    <div class="relative overflow-x-auto">
        <table class="table table-head-bg-primary mt-4">
            <thead>
            <tr>
                <th scope="col">Roles</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <ul>
                            {% for role in user.roles %}
                                <li>{{ role }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }} {{ user.firstname }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.dateOB|date('d-m-Y') }}</td>
                    <td>
                        {% if app.user and 'ROLE_SUPER_ADMIN' in app.user.roles %}
                            {% if 'ROLE_SUPER_ADMIN' not in user.roles %} {# Ne pas bannir un autre SUPER_ADMIN #}
                                {% if not user.banned %}
                                    <a href="{{ path('user_ban', {id: user.id}) }}" class="btn btn-danger">Bannir</a>
                                {% else %}
                                    <span class="text-danger">Banni</span>
                                {% endif %}
                            {% else %}
                                <span class="text-muted">SUPER_ADMIN</span>
                            {% endif %}
                        {% else %}
                            {% if user.banned %}
                                <span class="text-danger">Banni</span>
                            {% endif %}
                        {% endif %}
                        <a href="{{ path('app_user_edit', {id: user.id}) }}">
                            <button type="button" class="btn btn-link btn-simple-primary">
                                <i class="la la-edit"></i>
                            </button>
                        </a>
                        <a href="{{ path('app_user_delete', {id: user.id}) }}">
                            <button type="button" class="btn btn-link btn-simple-danger">
                                <i class="la la-times"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock user %}

{% block adduser %}
    {{ form(form) }}
{% endblock %}